<% users.forEach(function(user, index) { %>
    <div class="project-card">
        <a href="/public-profile/<%= user.username %>" class="project-user">
            <img src="<%= user.profile_picture || '/default-profile-picture.png' %>" class="project-user-image" alt="<%= user.username %>'s profile picture">  
            <p class="project-user-name"><%= user.username %></p>
            <p class="project-user-dot">●</p>
            <p class="project-user-role"><%= user.role %></p>
        </a>

        <% if (user.projects.length > 0) { %>
            <% for (let i = 0; i < Math.min(user.projects.length, 3); i++) { %>
                <% const project = user.projects[i]; %>

                <a href="/project/<%= project.id %>" class="project-link">
                    <h3 class="project-title"><%= project.title %></h3>
                    <img src="<%= project.project_picture %>" class="project-image" alt="Project image">
                </a>

                <% if (currentUser) { %>
                    <!-- if the user didn't like the post -->
                    <img src="/images/like-light.png" class="project-like-button like-button" data-project-id="<%= project.id %>" id="project-like-light">
                    <img src="/images/like-dark.png" class="project-like-button like-button" data-project-id="<%= project.id %>" id="project-like-dark">
                    <!-- After this would be an image of a filled in like button, for if the user did like the post -->
                <% } %>

                <p class="project-likes"><b><%= project.likes %> likes</b></p>
                <p class="project-description"><b><%= user.username %></b> <%= project.description %></p>
                

                <hr class="project-line-spacer">
                
                <% if (project.comments.length > 0) { %>
                    <% const lastTwoComments = project.comments.slice(-2); %>
                    <% lastTwoComments.forEach(comment => { %>
                        <div class="project-comments">
                            <p><b><%= comment.username %></b> <%= comment.content %></p>
            
                            <% if (currentUser && currentUser.id === comment.user_id) { %>
                                <button class="project-comment-delete-button" data-comment-id="<%= comment.id %>" data-project-id="<%= project.id %>">Delete</button>
                            <% } %>
                        </div>
                        
                    <% }) %>   
                <% } else { %>
                    <p class="no-comments">No comments yet.</p>
                <% } %>

                <% if (currentUser) { %>
                    <form method="post" action="/comments/<%= project.id %>/comment" id="commentForm" class="project-comment-form">
                        <textarea class="project-comment-text" placeholder="Add a comment..." name="content" required></textarea>
                        <button type="submit" class="project-comment-button">Post</button>
                    </form>
                <% } %>
            <% } %>
        <% } else { %>
            <p class="no-projects">This user doesn't have any projects yet.</p>
        <% } %>
    </div>
<% }); %>

  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/js/userCard.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <!-- Include jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
  