<div class="user-info mb-4 card">
    <div class="card-body">
        <h2 class="card-title"><%= user.username %></h2>
        <h6 class="card-subtitle mb-2 text-muted"><%= user.email %></h6>
        <span class="badge badge-primary"><%= user.role %></span>
    </div>
</div>

<% if (user.projects.length > 0) { %>
    <div class="row">
        <% user.projects.forEach(function(project) { %>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="<%= project[2] %>" class="card-img-top" alt="Project Image"> <!-- Project Image -->
                    <div class="card-body">
                        <h5 class="card-title truncate"><%= project[0] %></h5> <!-- Title -->
                        <p class="card-text truncate"><%= project[1] %></p> <!-- Description -->
                        <!-- Add View Project button -->
                        <a href="/project/<%= project.id %>" class="btn btn-primary">View Project</a>

                    </div>
                </div>
            </div>
        <% }); %>
    </div>
<% } else { %>
    <p>This user doesn't have any projects yet.</p>
<% } %>
