<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>PixelPulse - Profile</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <main>
        <section class="profile-section">
            <div class="container">
                <h1 class="mb-4 text-center">Welcome</h1>
                <div class="user-info d-flex justify-content-between align-items-center mb-5">
                    <div class="d-flex align-items-center">
                        <img src="<%= user.profile_picture || 'dfpic.jpg' %>" alt="Profile picture" class="img-fluid profile-picture">
                        <div class="ml-4">
                            <h3><%= user.username %></h3>
                            <p>Member since: <%= new Date(user.created_at).toLocaleDateString() %></p>
                            <p>Role: <%= user.role %></p>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="upload">Upload Project</a>
                </div>
                

                <h2 class="mb-4">Projects Gallery</h2>
                    <div class="row">
                        <% projects.forEach(project => { %>
                            <div class="col-md-4">
                                <div class="project-card rounded shadow-sm">
                                    <img src="<%= project.project_picture || '/images/default_project_image.jpg' %>" alt="<%= project.title %>" class="img-fluid">
                                    <div class="p-3">
                                        <h4><%= project.title %></h4>
                                        <p><%= project.description.substring(0, 200) + (project.description.length > 250 ? "..." : "") %></p>
                                        <a href="/project/<%= project.id %>" class="btn btn-primary">See More</a>
                                        <!-- You can add any other project details you want to display -->
                                    </div>
                                </div>
                            </div>
                        <% }); %>                        
                    </div>
                </div>
            </div>
        </section>
    

    </main>
    <!-- Footer code from index.html or login.html -->
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>