<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse - Profile</title>
</head>
<body>
    <%- include('partials/navbar.ejs')%>

    <%- include('partials/accessibilityMenu') %>

    <main>
      <div class="profile-container">
        <div class="profile-main">
          <img src="<%= user.profile_picture || 'dfpic.jpg' %>" alt="Profile picture" class="profile-page-picture">
          
          <div>
            <div class="profile-top-row">
              <div>
                <h2><%= user.username %></h2>
                <p class="profile-user-role"><%= user.role %> | Member since: <%= new Date(user.created_at).toLocaleDateString() %></p>
              </div>
              <a href="/editProfile">
                <button class="profile-button" href="/views/updateProfile.ejs">Edit Profile</button>
            </a>
              
            </div>
    
            <div class="profile-second-row">
              <% numProject = 0;if(user.projects){numProject = user.projects.length}%>
              <h3><%= numProject %> Posts</h3>
                <% totalLikes = 0;if(user.projects){for (let project of user.projects) { totalLikes = totalLikes+project.likes};};%>
              <h3><%= totalLikes %> Likes</h3>
            </div>
          </div>
        </div>
      </div>
      
      <hr class="profile-line">

      <section class="posts-container">
        <div class="posts-heading">
          <img src="/images/posts-icon-light.png" class="post-icon" id="post-icon-light">
          <img src="/images/posts-icon-dark.png" class="post-icon" id="post-icon-dark">
          <p class="post-text">POSTS</p>
        </div>
  
        <div class="profile-card">
          <% let displayUploadCard = true; %>

          <!-- If they have no project still show the upload project -->
          <% if(projects.length == 0) { %>
            <div class="upload-project">
              <a href="/upload" class="upload-link">
                <img src="/images/upload-icon-light.png" class="upload-icon" id="upload-icon-light">
                <img src="/images/upload-icon-dark.png" class="upload-icon" id="upload-icon-dark">
                <p>Upload Project</p>
              </a>
            </div>
          <% } %>
  
          <% projects.forEach(project => { %>
            <% if(displayUploadCard) { %>
              <div class="upload-project">
                <a href="/upload" class="upload-link">
                  <img src="/images/upload-icon-light.png" class="upload-icon" id="upload-icon-light">
                  <img src="/images/upload-icon-dark.png" class="upload-icon" id="upload-icon-dark">
                  <p>Upload Project</p>
                </a>
              </div>
  
              <% displayUploadCard = false; %>
            <% } %>
  
            <a href="/project/<%= project.id %>" class="profile-card-link">
              <img src="<%= project.project_picture || '/images/default_project_image.jpg' %>" alt="<%= project.title %>" class="profile-card-image">
              <div class="profile-card-body">
                  <h2 class="profile-card-title"><%= project.title %></h2>
                  <div class="profile-card-likes-container">
                      <img src="/images/like-icon-dark.png" class="profile-card-likes-icon">
                      <h3 class="profile-card-likes"><%= project.likes || 0 %></h3>
                  </div>
                  <ul class="profile-card-tags">
                    <%if (project.tags) { project.tags.forEach(tag => { %>
                      <li><%= tag %></li>
                  <% }); }%>
                  </ul>
              </div>
          </a>
          <% }); %>
        </div>
      </section>


    </main>
    
    <%- include('partials/footer') %>
</body>
</html>
