
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.3/mode/javascript/javascript.min.js"></script>


<form action="/project/<%= project.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= project.title %>">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description"><%= project.description %></textarea>
    </div>
    <div class="form-group">
        <label for="code">Code</label>
        <div id="codemirrorContainer"></div>
        <input type="hidden" id="projectCode" name="code" value="<%= project.code %>">
    </div>
    
    <div class="form-group">
        <label for="project_picture">Project Picture</label>
        <input type="file" class="form-control-file" id="project_picture" name="project_picture">
        <img src="/<%= project.project_picture %>" alt="Current project picture">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

   <script>
    window.onload = function() {
        var myCodeMirror = CodeMirror(document.getElementById('codemirrorContainer'), {
            lineNumbers: true, // Show line numbers
            theme: 'darcula', // Set the theme
            mode: 'javascript' // Set the language
        });

        myCodeMirror.on('change', function(cm){
    // update textarea content on any change in editor
    document.getElementById('projectCode').value = btoa(cm.getValue());
});


        // Decode the base64-encoded code before setting it as the value of the CodeMirror editor
        myCodeMirror.setValue(atob('<%= project.code %>')); // set current code into editor
    }
</script>


