<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/project.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="/js/project.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/likeButton.js"></script>
    <title>PixelPulse - Project</title>
</head>

<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>

    <main class="containerProject">
        <% if (project) { %>

            <div class="main-project-header-container">
                <div class="project-header-container">
                    <h2 class=""><%= project.title %></h2>

                    
                    <div>
                        <% if (session.user && session.user.id === project.user_id) { %>
                            <a href="/project/<%= project.id %>/edit" id="editButton" class="project-edit-button">Edit</a>
                            <button id="deleteButton" class="project-delete-button">Delete</button>
                        <% } %>
                    </div>
                </div>
            </div>
                
            <div class="main-project-header-container">
                <div class="likes-user-container">
                    <div class="project-header-user-container">
                        <img src="/<%= project.user_profile_picture || '/default-profile-picture.png' %>" alt="Creator profile picture" class="project-page-user-image">
                        <p>Project user username</p>
                        <p>●</p>
                        <p >Project user role</p>
                    </div>
    
                    <p>Likes: <%= project.likes %>, Comments: <%= project.comments %></p> 
                </div>
            </div>

            <p class="project-page-description"><%= project.description %></p>

            <div class="coding-area">
                <div id="editor" class="code-editor"></div>
                <iframe id="preview" class="code-preview"></iframe>
            </div>

            <% if (session.user && session.user.id !== project.user_id) { %>
                <%if (isLiking){%>
                <img src="/images/like-light.png" class="project-like-button like-button" data-project-id="<%= project.id %>" id="project-like-light">
                <% } else {%>
                <img src="/images/like-dark.png" class="project-like-button like-button" data-project-id="<%= project.id %>" id="project-like-dark">
                <%}%>
                <!-- After this would be an image of a filled in like button, for if the user did like the post -->
            <% } %>

            <hr class="project-line">

            <div class="project-comments-container">
                <h2>Latest comments</h2>
                <%- include('partials/commentsModule') %>
            </div>
            

            <!-- Hidden elements to hold project data -->
            <div id="projectData" style="display: none">
                <span id="projectCode"><%= project.code %></span>
                <span id="projectId"><%= project.id %></span>
            </div>
        <% } else { %>
            <div role="alert">
                Project not found. <a href="/">Go back to the homepage</a>
            </div>
        <% } %>
    </main>

    <%- include('partials/footer') %>
</body>
</html>
