<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/accessibility.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/menu-button.js" defer ></script>
    <script src="/js/showAccessibility.js" defer ></script>
    <script src="/js/accessibility-button.js" defer ></script>
    <script src="/js/accessibility.js" defer ></script>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600&display=swap" rel="stylesheet">
    <title>PixelPulse - <%= user.username %> Profile</title>
</head>
<body>
    <%- include('partials/navbar') %>

    <%- include('partials/accessibilityMenu') %>

    <main>
        <div class="profile-container">
            <div class="profile-main">
                <img src="/<%= user.profile_picture || 'dfpic.jpg' %>" alt="Profile picture" class="profile-page-picture">

                <div>
                    <div class="profile-top-row">
                        <div>
                        <h2><%= user.username %></h2>
                        <p class="profile-user-role"><%= user.role %> | Member since: <%= new Date(user.created_at).toLocaleDateString() %></p>
                        </div>

                        <%if(loggedInUserId !== user.id) { %>
                        <% if(user.isFollowing) { %>
                            <!-- Already following. Provide option to unfollow. -->
                            <form action="/follow/<%= user.id %>/follow" method="post">
                                <button type="submit" class="profile-button unfollow">Unfollow</button>
                            </form>
                        <% } else { %>
                            <!-- Not following yet. Provide option to follow. -->
                            <form action="/follow/<%= user.id %>/follow" method="post">
                                <button type="submit" class="profile-button">Follow</button>
                            </form>
                        <% } %>
                        <% } %>
                    </div>
            
                    <div class="profile-second-row">
                        <h3>x Posts</h3>
                        <h3>x Likes</h3>
                    </div>
                </div>
            </div>
        </div>
    
        <hr class="profile-line">

        <div class="posts-container">
        <div class="posts-heading">
            <img src="/images/posts-icon-light.png" class="post-icon">
            <p class="post-text">POSTS</p>
        </div>
    
        <div class="profile-card"> 
            <% user.projects.forEach(project => { %>
            <a href="/project/<%= project.id %>" class="profile-card-link">
                <img src="/<%= project.project_picture || '/images/default_project_image.jpg' %>" alt="<%= project.title %>" class="profile-card-image">
                <div class="profile-card-body">
                    <h2 class="profile-card-title"><%= project.title %></h2>
                    <div class="profile-card-likes-container">
                    <img src="/images/like-icon-dark.png" class="profile-card-likes-icon">
                    <h3 class="profile-card-likes"><%= project.likes || 0 %></h3>
                    </div>
                    
                </div>
            </a>
            <% }); %>
        </div>
        </div>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>
